{% extends 'shop/ToDoHome.html' %}
<head>
    <title>Все задачи</title>
</head>
{% block all_tasks %}

    <h2> Здесь отображаются все задачи, не только ваши</h2> 
{% for task in all_tasks %}

<div class="card text-bg-dark" style="width: 40rem;">
    {% if task.is_done %}
  <div class="card-header bg-transparent border-success">
    <h5 class="card-title text-success text-center">{{task}}</h5>
    {% else %}
  <div class="card-header bg-transparent border-danger">
    <h5 class="card-title text-danger text-center">{{task}}</h5>
    {% endif %}
    <p class="card-body text-bg-secondary">{{task.description}}</p>
    <a href="#" class="card-link">Удалить</a>
    <a href="#" class="card-link">Выйти</a>
  </div>
</div>

{% endfor %}
{% endblock %}