{% extends 'shop/ToDoHome.html' %}

{% block task_page %}


<h1></h1>
<h2 class="text-center">{{one_task}}</h2>
<p></p>
<h3 class="text-center">{{one_task.description}}</h3>
<h3 class="text-center">{{one_task.time_duration}}</h3>

<div class="btn-group">
  <a href="{% url 'exit_task' one_task.pk %}" class="btn btn-primary active" aria-current="page">
    Выйти
  </a>
  <a href="{% url 'delete_task' one_task.pk %}" class="btn btn-primary">Удалить</a>
  <a href="#" class="btn btn-primary">Изменить</a>
  <a href="#" class="btn btn-primary">цвь</a>
  <a href="#" class="btn btn-primary">йаццвацйить</a>
</div>
    
{% endblock %}